<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
        <div class="container p-4">
            <h2>Form Bidding</h2>
            <p>Form untuk pengajuan bidding</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5>Detail Bidding</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nama_pengadaan" class="form-label">Nama Pengadaan</label>
                                <input class="form-control" type="text" id="nama_pengadaan" name="nama_pengadaan" readonly>
                            </div>
                            <div class="form-group">
                                <label for="jenis_pengadaan" class="form-label">Jenis Pengadaan</label>
                                <input type="text" class="form-control" id="jenis_pengadaan" name="jenis_pengadaan" readonly>
                            </div>
                            <div class="form-group">
                                <label for="jenis_vendor" class="form-label">Jenis Vendor</label>
                                <input type="text" class="form-control" id="jenis_vendor" name="jenis_vendor" readonly>
                            </div>
                            <div class="form-group">
                                <label for="nama_item" class="form-label">Nama Barang</label>
                                <input type="text" class="form-control" id="nama_item" name="nama_item" readonly>
                            </div>
                            <div class="form-group">
                                <label for="harga_item" class="form-label">Harga Rekomendasi</label>
                                <input type="text" class="form-control" id="harga_item" name="harga_item" readonly>
                            </div>
                            <div class="form-group">
                                <label for="jumlah_item" class="form-label">Jumlah Barang</label>
                                <input type="text" class="form-control" id="jumlah_item" name="jumlah_item" readonly>
                            </div>
                            <div class="form-group">
                                <label for="nama_item" class="form-label">Nama Barang</label>
                                <input type="text" class="form-control" id="termin_pembayaran" name="termin_pembayaran" readonly>
                            </div>
                            <div class="form-group">
                                <label for="harga_item" class="form-label">Harga Rekomendasi</label>
                                <input type="text" class="form-control" id="harga_item" name="harga_item" readonly>
                            </div>
                            <div class="form-group">
                                <label for="jumlah_item" class="form-label">Jumlah Barang</label>
                                <input type="text" class="form-control" id="jumlah_item" name="jumlah_item" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card aanwijzing mb-3">
                        <div class="card-header">
                            <h5>Persyaratan Aanwijzing</h5>
                        </div>
                        <div class="card-body">
                            <p><%- currdate %></p>
                            <p>Scope pekerjaan dari tender yang diadakan adalah sebagai berikut:</p>
                            <ul>
                                <li>Termin pembayaran lebih dari 3 kali</li>
                                <li>Proyek memiliki scope pekerjaan renovasi gudang 2 lantai</li>
                            </ul>
                            <p>Pihak vendor dianggap telah memahami spesifikasi pekerjaan, volume pekerjaan maupun
                                kelengkapan
                                lainnya sesuai kebutuhan dan keinginan yang diharapkan pihak PT. Mitra Pinasthika Mulia.
                                Dengan
                                demikian, jika salah satu vendor yang hadir saat ini terpilih sebagai pemenang tender,
                                maka
                                segala resiko yang timbul akibat kekurangan volume dan sebagainya, telah menjadi
                                tanggung jawab
                                dari pihak vendor pemenang tender pekerjaan ini. Demikian Berita Acara ini dibuat dan
                                disetujui
                                oleh perwakilan dari pihak perwakilan vendor.</p>
                        </div>
                    </div>
                    <div class="card form-bidding">
                        <div class="card-header">
                            <h5>Form Pengajuan</h5>
                        </div>
                        <div class="card-body">
                            <div class="detail-bidding">
                                <form action="/form-bidding-vendor" method="post">
                                    <div class="form-group">
                                        <label for="durasi_pekerjaan">Durasi Pekerjaan*</label>
                                        <input class="form-control" type="text" id="durasi_pekerjaan" name="durasi_pekerjaan" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="pengajuan_harga">Pengajuan Harga*</label>
                                        <input class="form-control" type="text" id="pengajuan_harga" name="pengajuan_harga"
                                            required>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <small class="form-check-label text-muted" for="exampleCheck1">Dengan ini pihak yang bersangkutan telah menyetujui aanwijzing, beserta syarat dan ketentuan yang berlaku.*</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary pt-1">Ajukan Bidding</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="successMessage" class="card hidden">
                    <div class="card-body text-center">
                        <h4>Bidding Berhasil Diajukan</h4>
                        <button onclick="closeSuccessMessage()" class="btn btn-success">Tutup</button>
                    </div>
            </div>
        </div>

        <script>
            document.getElementById('biddingForm').addEventListener('submit', function(event) {
                event.preventDefault();
                document.getElementById('successMessage').classList.remove('hidden');
            });
    
            function closeSuccessMessage() {
                document.getElementById('successMessage').classList.add('hidden');
            }
        </script>
    </body>
    </html>
    