<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods Received</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <%- include('partials/style.ejs') %>
</head>
<body>
        <%- include('partials/sidebar.ejs') %>
        <div class="container mt-4">
                <h1>Goods Received</h1>
                <p>Review hasil yang diterima</p>
                
                <div class="buttons">
                    <button onclick="window.location.href='/lihat-invoice'">Lihat Invoice</button>
                    <button onclick="window.location.href='/lihat-surat-jalan'">Lihat Surat Jalan</button>
                </div>
                
                <form action="/goods-received-admin" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="tanggal-terima">TANGGAL TERIMA*</label>
                        <input type="date" id="tanggal-terima" name="tanggal_terima" required>
                    </div>
                    <div class="col-md-6">

                    <div class="mb-3">
                        <label for="jumlah-barang">JUMLAH BARANG*</label>
                        <input type="number" id="jumlah-barang" name="jumlah_barang" required>
                    </div>
                    <div class="col-md-6">

                    <div class="mb-3">
                        <label for="deskripsi-barang">DESKRIPSI BARANG*</label>
                        <input type="text" class="form-control" id="deskripsi-barang" name="deskripsi_barang" required>
                    </div>
                    <div class="col-md-6">

                    <div class="mb-3">
                        <label for="kondisi-barang">KONDISI BARANG*</label>
                        <input type="text" class="form-control" id="kondisi-barang" name="kondisi_barang" required>
                    </div>
                    <div class="mb-3">
                        <label for="upload-bukti-foto">UPLOAD BUKTI FOTO*</label>
                        <input type="file" id="upload-bukti-foto" name="bukti_foto" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Bukti</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>