<!DOCTYPE html>
<html lang="id">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%= title %></title>  
  </head>
  <body>
    <%- include('partials/header.ejs') %>
  </body>
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>
</html>
