<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi Pengadaan Approved</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>Informasi Pengadaan</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/informasi-pengadaan-approved">Informasi Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/item-pengadaan-approved">Item Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/informasi-purchase-order-approved">Informasi Purchase Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/dokumen-purchase-order-approved">Dokumen Purchase Order</a>
            </li>
        </ul>
        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>Nama Pengadaan:</strong> Portal Vendor</p>
                <p class="card-text"><strong>Status:</strong> Buka</p>
                <p class="card-text"><strong>Jenis Pengadaan:</strong> Jasa</p>
                <p class="card-text"><strong>Nama Barang:</strong> Website</p>
                <p class="card-text"><strong>Harga Barang:</strong> Rp. 150.000.000,00</p>
                <p class="card-text"><strong>Jumlah Barang:</strong> 1</p>
                <p class="card-text"><strong>Tanggal Mulai:</strong> 01-01-2024</p>
                <p class="card-text"><strong>Tanggal Selesai:</strong> 30-04-2024</p>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>
